body {
  background-color: darkcyan;
font-family:sans-serif;
}
h1{
  display:block;
  text-align: center;
  color: white;
  background-color: darkgrey;

}

h3{
display:inline-block;
text-align: center;
padding: 10px 20px;
color:darkblue;
}

a{
  text-decoration: none;
}

a>h3:hover{
  background-color: darkgrey;
  color:darkcyan;
}

p {
  color: red;
}

.caintainer{
    display:block;
  text-align: center;


}
.tab{
  display:block;
  text-align: center;

}
.box{
  margin: auto;
 width: 50%;
 padding: 10px;
   display:block;
  text-align: center;

}


/*animation*/
.circle {
  height: 55px;
  width:55px;
  display:inline-block;
  background-color: red;
  border-radius:50%;
  position: relative;
  -webkit-animation: myfirst 5s linear .5s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 5s linear .5s infinite alternate;

}

.circle2{
  height: 50px;
  width:50px;
  display:inline-block;
  background-color: green;
  border-radius:50%;
  position: relative;
  -webkit-animation: myfirst 7s linear .5s infinite alternate-reverse; /* Safari 4.0 - 8.0 */
  animation: myfirst 7s linear .5s infinite alternate-reverse;

}
.circle3{
  height: 60px;
  width:60px;
  display:inline-block;
  background-color: blue;
  border-radius:50%;
  position: relative;
  -webkit-animation: myfirst 6s linear .5s infinite alternate; /* Safari 4.0 - 8.0 */
  animation: myfirst 6s linear .5s infinite alternate;

}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}

/* Standard syntax */
@keyframes myfirst {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
